@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Carattere&family=Charm:wght@400;700&family=Lobster&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #faf0e6;
}

.navbar-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: rgba(0, 0, 139, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

.logo {
    color: #fff;
    font-size: 32px;
    text-decoration: none;
    font-weight: 600;
    font-family: "Carattere", cursive;
    font-style: normal;
}

.navbar a {
    position: relative;
    margin-left: 40px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}

.navbar a::before{
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;
}

.about-container {
    position: static;
    margin-top: 150px;
    padding: 50px 150px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.store-image {
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

    width: 677px;
    height: 508px;

    margin-bottom: 50px;
}

.about-textbox {
    width: 65%;
    text-align: center;
}

.about-textbox h1 {
    font-size: 62px;
    font-weight: 500;
}

.about-textbox p {
    font-size: 36px;
    font-weight: 400;
}

.services-container {
    position: static;
    padding: 100px;
}

.services-container h1, h3 {
    text-align: center;
}
.services-container h1 {
    font-size: 62px;
    font-weight: 500;
}

.services-container h3 {
    font-size: 24px;
    font-weight: 300;
}

.services-list {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, 750px);
    justify-content: space-around;;
    text-align: center;
}

.service-image {
    width: 612px;
    height: 367px;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.services-list li {
    margin-top: 50px;
}

.services-list li h2 {
    font-size: 36px;
    font-weight: 550;
}

.services-list li p {
    width: 50%;
    margin: 0 auto; /* centers text */

    font-size: 20px;
}

.faq-container {
    position: static;
    text-align: center;
}

.faq-container h1 {
    font-size: 62px;
    font-weight: 500;
}

.faq-container ol {
    display: inline-block;
    text-align: left;
    max-width: 2000px;

    padding: 25px 50px;
    list-style-type: none;
    font-size: 30px;
    font-weight: 400;
}